<!-- STYLE LINKING -->
<link rel="stylesheet" href="../StyleFolder/radio.css">

<!-- CONTAINER -->
<div class="station" data-audio="../audio/QuestStarter.mp3">
    <div class="square"></div>
    Mysterious Broadcast Signal
</div>

<div class="station" data-audio="../audio/Static.mp3">
    <div class="square"></div>
    Enclave Radio
</div>

<div class="station" data-audio="../audio/Static.mp3">
    <div class="square"></div>
    Mojave Music Radio
</div>
<!-- WAVE -->
<div class="wave-container">
    <canvas id="waveCanvas"></canvas>
</div>