<!-- STYLE LINKING -->
<link rel="stylesheet" href="../StyleFolder/status.css">

<!-- MAIN AREA -->
<div class="main">
    <div class="left-menu">
        <button class="menu-btn active" onclick="selectMenu(this,'cnd')">CND</button>
        <button class="menu-btn" onclick="selectMenu(this,'rad')">RAD</button>
        <button class="menu-btn" onclick="selectMenu(this,'eff')">EFF</button>
    </div>


    <!-- CENTER DISPLAY -->
    <div class="center-display">

        <img src="/images/fallout_synth.png" class="character">

        <div class="status-overlay">


        </div>

    </div>


    <!-- COMPONENT DISPLAY -->
    <div id="component-panel"></div>

</div>
